@charset "utf-8";
/* CSS Document */

body{
	background-color:#ecf1f9;
	font-family:Arial, Helvetica, sans-serif;	
	font-size:12px;
}

.clear{
	clear:both;
}

.menulist{
	width:auto;
	height:15px;
	background:#fff;
	border:1px solid #bcb6c2;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	color:#333;
	font-size:11px;
	margin:2px 0px 2px 0px;
}


.myButton {
	height:21px;
	-moz-box-shadow:inset 0px 1px 7px 0px #eaf3f7;
	-webkit-box-shadow:inset 0px 1px 7px 0px #eaf3f7;
	box-shadow:inset 0px 1px 7px 0px #eaf3f7;
	background-color:#eaeaea;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #b8b8c0;
	display:inline-block;
	cursor:pointer;
	color:#666;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:0px 2px 2px 2px;
	margin:0px 5px 0px 2px;
	text-decoration:none;
    -webkit-box-shadow: 0 1px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 1px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 1px 0 #ccc, 0 -1px #fff inset;
}
.myButton:hover {
	background-color:#fff;
	color:#ccc;
}
.myButton:active {
	position:relative;
	top:1px;
}


#wrapper{
	width:1000px;
	height:725px;
	background:#FFF;
	box-shadow:1px 1px 1px 1px #cdd3dc;
	-webkit-box-shadow:1px 1px 1px 1px #cdd3dc;
	-moz-box-shadow:1px 1px 1px 1px #cdd3dc;
	margin:0px auto;
	padding-top:10px;
}

#header-area{
	width:990px;
	height:45px;
	margin:5px;
}

			#logo-area{
				width:150px;
				margin:0px 5px;
				float:left;
			}

			.grey-text{
				color:#666;
			}
			
			.search-text{
				width:auto;
				height:25px;
				float:right;
				padding-top:10px;
				color:#666;
			}
			
			.search-field{
				width:270px;
				height:34px;
				float:right;
			}
			
			
			#top-rt-menus{
				width:380px;
				float:right;
				margin:8px 0px;				
			}
			
			
			#top-rt-menus ul{
				list-style:none;
				position:relative;
				margin:0px;
				float:right;
			}
			
			
			#top-rt-menus ul li{				
				position:relative;				
				float:right;
			}
			
			
			#top-rt-menus ul li a{								
				color:#939;
				font-size:12px;
				padding:5px 7px;
				border-right:1px dotted #CCC;
				text-decoration:none;
			}
			
			
			#top-rt-menus ul li a:hover{				
				color:#486698;
				font-size:12px;
				padding:5px 7px;
				border-right:1px dotted #CCC;
				text-decoration:none;
			}
			
			
#main-nav-panel{
	width:984px;
	height:24px;
	background:url(../images/nav-bg.jpg);
	background-repeat:repeat-x;
	margin:5px 7px;
	float:left;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}

		#navlinks{
			width:740px;
			height:16px;
			float:left;
			margin:-6px 3px;			
		}
		
		#navlinks ul{
			list-style:none;
			position:relative;
			float:left;
		}
		
		#navlinks ul li{
			position:relative;
			float:left;
		}		
		
		#navlinks ul li a{
			color:#61359c;
			margin:0px;
			padding:0px 15px;
			border-right:1px dotted #d075c6;
			text-decoration:none;
		}
		
		#navlinks ul li a:hover{
			color:#47475f;
			margin:0px;
			padding:0px 15px;
			border-right:1px dotted #d075c6;
			text-decoration:none;
		}



			#nav-rt-menus{
				width:200px;
				float:right;
			}
			
			
			#nav-rt-menus ul{
				list-style:none;
				position:relative;
				margin:0px;
				float:right;
			}
			
			
			#nav-rt-menus ul li{				
				position:relative;				
				float:right;
			}
			
			
			#nav-rt-menus ul li a{				
				color:#939;
				padding:10px 15px;
				border-right:1px dotted #CCC;
				text-decoration:none;
			}
			
			
			#nav-rt-menus ul li a:hover{				
				color:#fcf;
				padding:10px 15px;
				border-right:1px dotted #CCC;
				text-decoration:none;
			}
			
			
			
#header-image{
	width:989px;
	height:178px;
	float:left;
	margin:-2px 5px 0px 5px;
	background:url(../images/header_image.jpg);
	background-repeat:no-repeat;
}

.column-wise{
width:auto;
padding:2px;
float:left;
font-family:myriad pro;
font-size:12x;
color:#333;
}

.OY-text{
COLOR:#737329;
}


#footer-area{
	width:990px;
	height:30px;
	margin:5px;
	background:#e1e2ff;
	text-align:center;
}


			#footer-menus{
				width:380px;
				padding:8px;
				margin:0px auto;
				text-align:center;				
			}
			
			
			#footer-menus ul{
				list-style:none;
				position:relative;
				margin:0px;
				float:left;
			}
			
			
			#footer-menus ul li{				
				position:relative;
				float:left;				
			}
			
			
			#footer-menus ul li a{								
				color:#666;
				font-size:12px;
				padding:3px 7px;
				border-right:1px dotted #7072b5;
				text-decoration:none;
			}
			
			
			#footer-menus ul li a:hover{				
				color:#999;
				font-size:12px;
				padding:3px 7px;
				border-right:1px dotted #7072b5;
				text-decoration:none;
			}

/*///////////////////////////////////////*/

/* ELLE Page */

.pink-text{
font-family:myriad pro;
font-size:12px;
color:#909;
line-height:20px;
}

.violet-text{
font-family:myriad pro;
font-size:16px;
color:#66c;
line-height:20px;
}

.violet-sm-text{
font-family:myriad pro;
font-size:13px;
color:#339;
line-height:20px;
}

.adjust-text{
font-family:myriad pro;
font-size:16px;
color:#fff;
line-height:20px;
}
